$spacing: 1.5em;
$logo-width: 10em;
$content-width: $logo-width * 1.5;
$breakpoint-width: $logo-width * 3.5;

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.padded-column {
    margin: 0 $spacing;
}

@media screen and (max-width: $breakpoint-width) {
    body {
        align-items: baseline;
    }

    .splash {
        flex-direction: column;
    }

    .padded-column {
        margin: $spacing 0;
    }
}

.content {
    width: $content-width;
}

.logo {
    width: $logo-width;
}

.link-bar {
    text-align: center;
}

a {
    color: #707070;
}

a:hover {
    color: #505050;
}

a:active {
    color: black;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1em;
}
